---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";

export const prerender = true;

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.excerpt}>
    <div>
        <article class="text-white">
            <h1 class="mb-8 mt-20 text-5xl font-bold">{post.data.title}</h1>
            <div class="flex gap-8 text-lg text-gray-400">
                <span>
                    <Icon name="tabler:clock" class="mr-1 inline-block" />
                    {new Date(post.data.dateCreated).toISOString().split("T")[0]}
                </span>
                {
                    post.data.dateUpdated &&
                        new Date(post.data.dateUpdated).toISOString().split("T")[0] !==
                            new Date(post.data.dateCreated).toISOString().split("T")[0] && (
                            <span>(updated {new Date(post.data.dateUpdated).toISOString().split("T")[0]})</span>
                        )
                }
            </div>
            <br />
            <p class="text-neutral-400">{post.data.excerpt}</p>
            <div class="prose prose-invert mt-4 max-w-none text-lg">
                <Content />
            </div>
        </article>
    </div>
</BaseLayout>
