---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="A website and blog by Alex The JPEG">
    <div class="mb-8">
        <h1 class="mt-20 text-5xl font-bold text-slate-900 dark:text-white">Whoops!</h1>
        <p class="mt-4 text-lg text-slate-500 dark:text-slate-400">
            I can't find that page. You should probably <a
                href="javascript:history.back()"
                class="text-blue-500 hover:underline">go back</a
            >, or maybe <a href="/" class="text-blue-500 hover:underline">go to the homepage</a>.
        </p>.
    </div>
</BaseLayout>
