---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout title="Oops!" description="the 404 page">
    <div class="text-white">
        <h1 class="text-5xl font-bold mt-20">I can't find that page!</h1>
        <p class="text-lg mt-4">Maybe you should go back.</p>
    </div>
</BaseLayout>
