---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="NYTimes Games Calendar" description="Archive and statistics for my NYTimes Games results">
    <div class="text-white">
        <h1 class="text-5xl font-bold mt-20">UNDER CONSTRUCTION</h1>
        <p class="text-lg mt-4">UNDER CONSTRUCTION</p>
    </div>
</BaseLayout>
