---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="The JPEG Files" description="A website and blog by Alex The JPEG">
    <div class="mb-8">
        <h1 class="text-5xl font-bold mt-20 text-slate-900 dark:text-white">Welcome!</h1>
        <p class="text-lg mt-4 text-slate-500 dark:text-slate-400">Here you'll find a JPEG's ramblings about miscellany.</p>
    </div>
</BaseLayout>
