---
import HomeLayout from "../layouts/HomeLayout.astro"
---
<HomeLayout title="The JPEG Files" description="A website and blog by Alex The JPEG">
    <div class="text-white">
        <h1 class="text-5xl font-bold mt-20">Welcome!</h1>
        <p class="text-lg mt-4">Here you'll find a JPEG's ramblings about miscellany.</p>
    </div>
</HomeLayout>
