---
import { Icon } from 'astro-icon/components'
---
<footer class="py-8 text-center">
    <div class="flex justify-center space-x-4">
        <a href="https://www.youtube.com/@AlexTheJPEG" class="text-gray-700 hover:text-red-500 transition-colors duration-300">
            <Icon name="simple-icons:youtube" />
        </a>
        <a href="https://bsky.app/profile/alexthejpeg.bsky.social" class="text-gray-700 hover:text-blue-500 transition-colors duration-300">
            <Icon name="simple-icons:bluesky" />
        </a>
        <a href="https://github.com/AlexTheJPEG" class="text-gray-700 hover:text-neutral-400 transition-colors duration-300">
            <Icon name="simple-icons:github" />
        </a>
        <a href="https://www.backloggd.com/u/AlexTheJPEG/" class="text-gray-700 hover:text-sky-300 transition-colors duration-300">
            <Icon name="ri:gamepad-line" />
        </a>
        <a href="https://steamcommunity.com/id/alexthejpeg" class="text-gray-700 hover:text-blue-900 transition-colors duration-300">
            <Icon name="simple-icons:steam" />
        </a>
        <a href="https://anilist.co/user/AlexTheJPEG" class="text-gray-700 hover:text-blue-400 transition-colors duration-300">
            <Icon name="simple-icons:anilist" />
        </a>
        <a href="https://www.last.fm/user/AlexTheJPEG" class="text-gray-700 hover:text-red-600 transition-colors duration-300">
            <Icon name="simple-icons:lastdotfm" />
        </a>
    </div>
</footer>

<style>
    [data-icon] {
        font-size: 2rem;
    }
</style>